.pageWrapper{
    position: relative;
    background: rgb(2, 9, 44);
    height: 100vh;
}
.graph__out {
    z-index: 1;
    width: 90vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    transition: all 3.5s ease;
    clip-path: polygon(0 -50%, 80% -50%, 80% 195%, 0 195%);
}
  .graph {
    position: absolute;
    width: 300vw;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    animation: graph 40s linear infinite;
}
  
  @keyframes graph{
    0% {
      transform: translate3d(0%, -57.9%, 0);
    }
    100% {
      transform: translate3d(-66.666666%, 0, 0);
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.boxer {
    position: relative;
    z-index: 999;
}
  .headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.disclaimer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}