header {
   
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  
  .titleBox {
    
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: #f4f7ca;
    background-color: rgb(2, 9, 44);    
  
    overflow-x: clip;
    display: flex;
  }
  
  @keyframes horizontalScroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
  
  .titleWrapper {
    animation-name: horizontalScroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
    display: flex;
  }
  
  h1 {
    font-size: 2rem;
    margin: 0;
    white-space: nowrap;
    margin-right: 2rem;
  }
  
  
  /* chrome dev tools "tablet" and larger: */
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 3rem;
    }
  }